.fuente_cronometro {
font-family: 'Chakra Petch', sans-serif;
/* font-family: 'Electrolize', sans-serif; */

}

.tamaño_tiempo {
    font-size: 60px;
}

.img_div {
    position: absolute;
    z-index: -10;
    width: 100%;
}

.img_fondo {
    width: 100%;
}

.position_crono {
    position: relative;
    top: 100px;
}

.fondo {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.795);
    height: 500px;
    width: 500px;
}

.ancho_tiempo {
    width: 76px;
    text-align: center;
}

.ancho_boton {
    width: 100px;
}